:root {
    --text_important: rgba(0, 0, 0, 0.65);
    --text_secondary: rgba(0, 0, 0, 0.80);
    --text_general: rgba(0, 0, 0, 1);
    --background_important: rgba(255, 255, 255, 0.6);
    --background_general: rgba(255, 255, 255, 0.2);
    --borderless: 0px solid rgb(0, 0, 0);
    --outline_general: 2px solid rgba(255, 255, 255, 0.2);
}

html {
    background: url("images/background.jpeg") no-repeat;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Courier', Courier, monospace;
}

body {
    transition: 1s;
    font-size: 18px;
    margin: 5%;
    padding: 8px;
}

h1 {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px 20px;
    width: max-content;
}

h2 {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px 20px;
    width: max-content;

}

h3 {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px 20px;
    width: max-content;

}

p {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px 20px;
    width: max-content;
}  

.image_flex {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;

    max-width: 90vw;
    min-width: 25vw;
    max-height: 60vh;
}

img {
    max-width: 40vw;
}

img:hover {
    transition: 0.5s;
}


ol:not(ol ol), ul:not(ul ul) {
    list-style-position: inside;
    color: var(--text_secondary);
    background-color: var(--background_general);
    border-radius: 5px;
    margin: 10px 20px;
    padding: 10px 15px;
}

a:link:not(:has(img)) {
    color: var(--text_general);
    outline: var(--outline_general);
    text-decoration: none;
    outline-offset: -3px;
    border-radius: 5px;
    margin: 2px;
    padding: 2px 6px 0px 6px;
}

a:visited:not(:has(img)) {
    color: var(--text_important);
    outline: var(--outline_general);
    text-decoration: none;
    outline-offset: -3px;
    border-radius: 5px;
    margin: 2px;
    padding: 2px 6px 0px 6px;
}

a:hover:not(:has(img)) {
    background-color: var(--background_important);
    outline: var(--outline_general);
    text-decoration: none;
    outline-offset: -3px;
    border-radius: 5px;
    margin: 2px;
    padding: 2px 6px 0px 6px;
}