html {
    background: url("images/background.jpeg") no-repeat;
    background-position: bottom 10% center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Courier', Courier, monospace;
    width: 100%;
    height: 100%;
    
}

body {
    transition: 1s;
    font-size: 2em;
    margin: 1%;
    padding: 8px;
}

h1 {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px 20px;
    width: max-content;
}

h2 {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px 20px;
    width: max-content;

}

h3 {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px 20px;
    width: max-content;

}

p {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px 20px;
    min-width: 50%;
    max-width: 90%;
    width: auto;
    height: auto;
    text-align: center;
}  

.speech_bubble {
    position: absolute; /* Position it relative to the viewport */
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center align */ 
    align-content: bottom;
}

.image_flex {
    position: absolute; /* Position it relative to the viewport */
    top: 0px;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center align */

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;

}

.image_flex img {
    max-height: 20vw;
    max-width: 20vh;
    
    margin: 2vw;
}

.yapper {
    

    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: bottom;
}

.yapper img {
    position: fixed; /* Position it relative to the viewport */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center align */
    z-index: -1;
    min-width: 16%;
    min-height: 15%;
    max-height: 20vw;
}

ol:not(ol ol), ul:not(ul ul) {
    list-style-position: inside;
    color: var(--text_secondary);
    background-color: var(--background_general);
    border-radius: 5px;
    margin: 10px 20px;
    padding: 10px 15px;
}

a:link:not(:has(img)) {
    color: var(--text_general);
    outline: var(--outline_general);
    text-decoration: none;
    outline-offset: -3px;
    border-radius: 5px;
    margin: 2px;
    padding: 2px 6px 0px 6px;
}

a:visited:not(:has(img)) {
    color: var(--text_important);
    outline: var(--outline_general);
    text-decoration: none;
    outline-offset: -3px;
    border-radius: 5px;
    margin: 2px;
    padding: 2px 6px 0px 6px;
}

a:hover:not(:has(img)) {
    background-color: var(--background_important);
    outline: var(--outline_general);
    text-decoration: none;
    outline-offset: -3px;
    border-radius: 5px;
    margin: 2px;
    padding: 2px 6px 0px 6px;
}